h1{
    color: rgb(250, 3, 3);
    text-align: center;
    font-family: monospace;
    font-size: 60px;

}
body{
    background-color: rgb(0, 0, 0);
    color:rgb(0, 233, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form{
    text-align: left;
}
a{
    
    color: red;
    text-decoration: none;
}