body{
    background-color: rgb(0, 0, 0);
    
}
h1{
    text-align: center;
    color: green;
    border: 2px solid green;
    font-family: monospace;
}
a{
    text-decoration: none;
    color: rgb(34, 208, 4);

}
table{
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    height: 80px;
}
