table {
    width: 100%;
    border-collapse: collapse;
    /* width: 100%; */
}

h1 {
    text-align: center;
}

.table-content {
    margin: 25px 0;
    min-width: 500px;
}
.table-content thead tr{
    background-color: rgb(199, 121, 235);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
.table-content td{
    padding: 12px 15px;
}
.table-content tbody tr{
    border-bottom: 0.5px solid rgb(236, 213, 220);
}
.table-content tbody tr:nth-of-type(even){
    background-color: rgb(230, 236, 213);
}